@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 87.5%;
	line-height: 1.5em;
}
img {
	border: 0;
}
address {
	padding-top: 15px;
	border-top: 1px solid #cccccc;
	clear: both;
	font-style: normal;
	text-align: center;
}
#graphic {
	height: 300px;
    margin: 50px auto 30px auto;
}
#graphic ul {
	list-style: none;
	padding-left: 0;
}
#graphic ul li {
	display: none;
	position: absolute;
}
#graphic ul li img{
	width: 900px;
	height: 300px;
}
#graphic ul li.now {
	display: block;
}