@charset "utf-8";
@import url("common.css");

/*基本ページここから*/
body {
	margin: 0;
	padding: 0;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 87.5%;
	line-height: 1.5em;
}
header, nav, #graphic, #contents, footer{
    width: 900px;
    margin-left: 250px;
    margin-right: 250px;
}
header h1{
    text-align: left;
}
nav ul li{
    float: left;
    list-style-type: none;
    width: 150px;
    overflow: hidden;
}


footer{
    text-align: center;
}
footer #pagetop{
    text-align: right;
}
address {
	padding-top: 15px;
	border-top: 1px solid #cccccc;
	clear: both;
	font-style: normal;
	text-align: center;
}
#graphic ul li{
    width: 700px;
    height: 300px;
}


/*#graphic {
    width: 200px;
    height: 350px;
    margin: 50px 400px 30px auto;
}
#graphic ul {
	list-style: none;
	padding-left: 0;
    padding-right: 50px;
}
#graphic ul li {
	display: none;
	position: absolute;
}
#graphic ul li.now {
	display: block;
}*/
/*基本ページここかまで*/

/*トップページここから*/

/*トップページここまで*/

/*マップここから*/

/*マップここまで*/

/*イベントここから*/

/*イベントここまで*/

/*アクセスここから*/

/*アクセスここまで*/

/*ガイドここから*/
section h2{
    font-size: 200%;
    border-bottom: 1px double gray;
    border-width: 3px;
}
section h2,p{
    text-align: center;
    line-height: 1em;
}
section p{
    font-size: 125%;
}
#kisoku ul li{
    list-style-type: square;
}
#kisoku{
    border: 2px solid green;
}
#ex{
    border: 1px solid #34fc23;
}
#img figure img{
   width: 100%;
}
.box figure{
    width: 180px;
    margin: 0 0 15px 0px;
    float: left;
}
.box {
    overflow: hidden;
    margin-top: 5px;
}
/*ガイドここまで*/

/*お問い合わせここから*/

/*お問い合わせここまで*/

